@page "/empresas"
@inject NavigationManager nav
@inject IHttpService http

<h3>Empresas Asociadas:</h3>
<br />
<a class="btn btn-primary" href="/empresas/crear">Añadir Empresa asociada</a>
<br /><br />
@if (!string.IsNullOrEmpty(Mensaje))
{
    <div class="alert alert-danger">@Mensaje</div>
}

@if (empresas == null)
{
    <p>Buscando...</p>
}
else if (empresas.Count == 0)
{
    <p>No existen empresas cargadas en esta lista.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>CUIT</th>
                <th>Dirección</th>
                <th>Razón Social</th>
                <th style="text-align:center;">Contactos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empresa in empresas)
            {
                <tr>
                    <td>@empresa.Nombre</td>
                    <td>@empresa.CUIT</td>
                    <td>@empresa.Direccion</td>
                    <td>@empresa.RazonSocial</td>
                    <td style="text-align:center;">
                        <button class="btn btn-info btn-sm"
                                @onclick="() => VerDetalles(empresa.EmpresaId)">
                            Ver Detalles
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<EmpresaDTO>? empresas;
    List<ContactoEmpresasDto>? contactos;

    string Mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await CargarEmpresas();
    }

    private async Task CargarEmpresas()
    {
        // empresas = await http.GetFromJsonAsync<List<EmpresaDTO>>("api/Empresas");
        var response = await http.Get<List<EmpresaDTO>>("api/Empresas");
        if(!response.Error)
        {
            empresas = response.Response;
        }
        else
        {
            Mensaje = response.GetErrorMessage();
        }
    }

    void VerDetalles(int id)
    {
        nav.NavigateTo($"/empresas/detalles/{id}");
    }
}
